html {
  color: white;
}
body {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #051027;
  color: white;
}
nav {
  color: white;
  width: 1440px;
  height: 71px;
  padding: 8px;
  gap: 81px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
#container-fluid {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 454px;
  height: 38px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  margin-left: 20px;
}
form {
  display: flex;
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 11px;
  height: 30px;
  /* margin-right: 40px; */
}

.body-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 450px;
  height: 269px;
  left: calc(50% - 450px / 2 - 296px);
  top: calc(50% - 269px / 2 - 212.5px);
}
.body-left p {
  width: 392px;
  height: 60px;

  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;

  color: #bdbdbd;
}
.check {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px;
  gap: 4px;
  width: 402px;
  height: 43px;
}
.btn {
  color: white;
}
.globe {
  position: absolute;
  width: 490px;
  height: 472px;
  left: 712px;
  top: 77px;
}
.m-detail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 71px;
  position: absolute;
  width: 485px;
  height: 56px;
  left: 222px;
  top: 511px;
}
.i-detail {
  position: absolute;
  width: 358px;
  height: 316px;
  left: 949px;
  top: 348px;
}
.detail {
  position: absolute;
  width: 1085px;
  height: 316px;
  left: 222px;
  top: 348px;
}

/* .rectangle {
  position: absolute;
  width: 1440px;
  height: 422.97px;
  left: 0px;
  top: 601.03px;
  background: #f9f9f9;
} */
.with-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 6px;
  position: absolute;
  width: 300px;
  height: 131px;
  left: 329px;
  top: 684px;
}
.with-img h3 {
  width: 176px;
  height: 36px;
  font-family: "Bakbak One";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 108.5%;
  /* or 18px */
  letter-spacing: -0.025em;

  color: #627597;
}
.with-img p {
  width: 280px;
  height: 30px;

  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 114.3%;
  /* or 15px */
  color: #626262;
}
.social-img {
  position: absolute;
  width: 538px;
  height: 172px;
  left: 623px;
  top: 662px;
}
